<%- include ('../../../../partials/user/header1') -%>

<title>Daftar Buku</title>

<%- include ('../../../../partials/user/css') -%>


<section class="page-section bg-light" id="buku">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Daftar Buku</h2>
        </div>
        <div class="row">
            <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Cover</th>
                            <th>Judul</th>
                            <th>Pengarang</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% let no=1; %>
                        <% if (buku) { %>
                        <% buku.forEach((data) => { %>
                        <tr>
                            <th><%= no++ %></th>
                            <th style="text-align: center;"><img src="/buku/<%= data.cover %>" width="180" height="200" alt="tidak ada gambar"></th>
                            <th><%= data.judul %></th>
                            <th><%= data.pengarang %></th>
                            <th>
                                <a href="/pinjam/tgl-kembali/<%= data.id %>" class="btn btn-info">Pinjam</a>
                                <!-- <a href="/pinjam/<%= data.id %>" class="btn btn-info">Pinjam</a> -->
                            </th>
                        </tr>
                        <% }) %>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<%- include ('../../../../partials/user/footer1') -%>
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true,
      "autoWidth": false,
  });
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
  });
});
</script>
</body>
</html>