<%- include ('../../../../partials/admin/header') -%>

<title>Ubah Data Ebook</title>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Edit Ebook</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/admin/anggota">Ebook</a></li>
                        <li class="breadcrumb-item active">Edit</li>
                    </ol>
                </div>
            </div>

        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <div class="card-body">
        <form role="form" action="/admin/ebook/update/<%= data.id %>" method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="col-sm-7">
                    <!-- text input -->
                    <div class="form-group">
                        <label>Judul</label>
                        <input type="text" class="form-control" name="judul" value="<%= data.judul %>">
                    </div>
                </div>
                <div class="col-sm-7">
                    <!-- text input -->
                    <div class="form-group">
                        <label>Penerbit</label>
                        <input type="text" class="form-control" name="penerbit" value="<%= data.penerbit %>">
                    </div>
                </div>
                <div class="col-sm-7">
                    <!-- text input -->
                    <div class="form-group">
                        <label>Pengarang</label>
                        <input type="text" class="form-control" name="pengarang" value="<%= data.pengarang %>">
                    </div>
                </div>
                <div class="col-sm-7">
                    <!-- text input -->
                    <div class="form-group">
                        <label>Tahun</label>
                        <input type="text" class="form-control" name="tahun" value="<%= data.tahun %>">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-7">
                    <!-- textarea -->
                    <div class="form-group">
                        <label>File</label>
                        <input type="file" class="form-control" name="file">
                    </div>
                </div>
                <div class="col-sm-7">
                    <!-- textarea -->
                    <div class="form-group">
                        <label>Cover</label>
                        <input type="file" class="form-control" name="cover">
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<!-- import data footer -->

<%- include ('../../../../partials/admin/footer') -%>