<%- include ('../../../../partials/user/header1') -%>

<title>Daftar Ebook</title>

<%- include ('../../../../partials/user/css') -%>

<section class="page-section bg-light" id="buku">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Daftar Ebook</h2>
        </div>
        <%   
        let no = 1;
        %>
        <div class="row">
            <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Cover</th>
                            <th>Judul</th>
                            <th>Penerbit</th>
                            <th>Pengarang</th>
                            <th>Tahun</th>
                            <th>Unduh File</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(data) { %>
                        <% data.forEach((datagt) => { %>
                        <tr>
                            <td> <%= no++ %> </td>
                            <th style="text-align: center;"><img src="/ebook/cover/<%= datagt.cover %>" width="180" height="200" alt="tidak ada gambar"></th>
                            <td> <%= datagt.judul %> </td>
                            <td> <%= datagt.penerbit %> </td>
                            <td> <%= datagt.pengarang %> </td>
                            <td> <%= datagt.tahun %> </td>
                            <td> <a href="/umum/ebook/download/<%= datagt.id %>" class="btn btn-info">Unduh</a> </td>
                            
                        </tr>
                        <% }) %>
                        <% } %>
                    </tbody>
    
                </table>
            </div>
        </div>
    </div>
</section>

<%- include ('../../../../partials/user/footer1') -%>
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true,
      "autoWidth": false,
  });
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
  });
});
</script>
</body>
</html>